html{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-bottom: 5px;
}

/*This centers the grid in the middle*/
.container {
    display: flex;
    max-width: 960px;
}

.box {
    min-width: 10px;
    min-height: 10px;
    background: black;
}